<!DOCTYPE html>
<html>
  <head>
    <title>Infabode</title>
    <meta name="google-site-verification" content="THwq_M1ujVxCqsR0Of48_vVkGlh5vBIr7RADHNYMkSM" />
    <meta name="google-site-verification" content="Czeu2yuSe-S2LCp24WxKQjLxrmKv75PwO7xEMOEdeII" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
