<!DOCTYPE html>
<html>
  <head>
    <title>Infabode</title>
    <meta name="google-site-verification" content="THwq_M1ujVxCqsR0Of48_vVkGlh5vBIr7RADHNYMkSM" />
    <meta name="google-site-verification" content="Czeu2yuSe-S2LCp24WxKQjLxrmKv75PwO7xEMOEdeII" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash" %>
    <%= yield %>
    
    <div id="footer">
    <div class="container">
      <div class="fnav">
        <li class="footer-text"><a href="https://www.vincethewalker.com" rel="nofollow">Created by Vincent Walker</a>
        <span class="pull-right"><%= link_to "Privicy Policy", policy_path %> </span></li>
      </div>
    </div>
</div>
  </body>
</html>
<!-- <li><a href="cv/vincethewalker.pdf">Resume</a></li> -->